<ion-view view-title="Trip Save">
    <ion-content>

        <div class="contentarea">
            <div class="camera">
                <h3> Camera: </h3>
                <video id="video">Video stream not available.</video>
            </div>
            <canvas id="canvas"> </canvas>

            <div class="output">
                <!-- <h3> Photo: </h3> -->
                <img id="photo" alt="The screen capture will appear in this box.">
            </div>

            <button class="button" ng-click='trackStart()'> Track Start </button>
            <button class="button" ng-click='trackFinish()'> Track Finish </button>

        </div>

        <p> Points: {{numPoints}}. </p>

        <ol>
            <li ng-repeat='point in points'>
                <!-- lat: {{point.lat}}, -->
                <!-- lng: {{point.lng}}, -->
                <!-- photo: {{point.photoUrl}}, -->
                {{point.str}}
                <br/><br/>
            </li>
        </ol>

    </ion-content>
</ion-view>
