<ion-view view-title="Trip Save">
    <ion-content>
        <h1>Trip Save</h1>

        <button class="button" ng-click='takePhoto()'> Take Photo </button>
        <!-- <ul> <li ng-repeat='photo in photos'> {{photo.url}} </li> </ul> -->

        <div class="camera">
            <p> Camera: </p>
            <video id="video">Video stream not available.</video>
        </div>
        <canvas id="canvas"> </canvas>
        <div class="output">
            <p> Photo: </p>
            <img id="photo" alt="The screen capture will appear in this box.">
        </div>


    </ion-content>
</ion-view>
